
header{
   top: 10px; left: 0; right: 0;
   height: 5.3rem;
   background: rgb(32, 31, 31);

   padding: 0 4%;
   display: block;
   justify-content: center;
}
.main-container{
   position: relative;
   top: 6%;
   margin: 0 2%;
}


/* searchbox styling starts here */
 .search-box{
   width: 39%;
   border: none;
   margin: 18px 10%;
   max-height: 26rem;
}
.row{
   display: flex;
   align-items: center;
   padding: 0 5px;
}
::placeholder{
   font-size: 14px;
   letter-spacing: 3;
   color: #979797;
   font-family:Arial, Helvetica, sans-serif;
}
header a{
   font-size: 23px;
   position: absolute;
   top: 20px;
   color: #9e9c9c;
}
input[type="text"]{
   height: 45px;
   width: 250%;
   border-radius: 4px;
   background: transparent;
   border: 1px solid rgba(214, 210, 210, 0.377);
   padding: 0 5%;
   display: inline;
   font-size: 14px;
   letter-spacing: 3;
   color: #979797;
   font-family:Arial, Helvetica, sans-serif;
}
button[type="search"]{
   position: relative;
   left: 230%;
   bottom: 2.3rem;
   font-size: 20px;
   background: none;
   cursor: pointer;
}
button[type="search"] > span{
   position: absolute;
   visibility: hidden;
   align-items: center;
   top: 3.5rem;
   left: -30px;
   font-size: 13px;
   color: #b6b5b5;
   background: rgb(48, 47, 47);
   padding: 8px 12px;
   border-radius: 5px;
}
button[type="search"]:hover span{
   visibility: visible;
   transition: linear all .5s;
}
.result-box{
   background: #2b2a2a;
   border-radius: 4px;
   padding: 0 10px;
   transition: ease-in 2s;
   max-height: 20rem;
   overflow-y: scroll;
}
.result-box::-webkit-scrollbar{
   width: 4px;
   background: #eee;
}
.result-box::-webkit-scrollbar-button{
   background: rgb(235, 234, 234);
 }
 .result-box::-webkit-scrollbar-thumb{
   background:  gray;
}
.result-box ul{
   transition: ease-in linear .5s;
}
.result-box ul li{
   border-radius: 3px;
   transition: ease-in .3s;
   padding: 15px 10px;
   cursor: pointer;
   font-size: 14px;
   letter-spacing: 3;
   color: #928f8f;
   font-family:Arial, Helvetica, sans-serif;
}
.result-box ul li:hover{
   background:  rgb(61, 62, 63);
   position: relative;
} 
div.rides-container2{ 
   position: relative;
   top: 5rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr)) !important;
   gap: 18px;
   margin-left: 1.8% !important;
}

div.rides-container2 .rides{
   justify-content: center;
   text-align: center;
   align-items: center;
   background: #161616;
   padding: 0 1%;
   border-radius: .5rem;
   border: 1px solid #eeeeee21;
   width: 18rem;
   height: 18.5rem;
   overflow: visible;
}
h3.booked_rides{
   text-transform: uppercase;
   position: absolute;
   transform: translate(-1%,-2rem);
   font-size: 12px;
   color: #979494;
}
div.rides-container2 .rides:hover{
   transform: scale(1.03);
   box-shadow: 1px 1px 1rem #5250507e;
}
div.rides-container2 .rides img{
   height: 40px;
   position:relative;
   top: 1rem;
   right: 6.5rem;
}
div.rides-container2 .rides .sec-contain{
   position: relative;
   top: 2.5rem;
}
div.rides-container2 .rides .rates i{ /* star icons */
   font-size: 16px;
   color: orange;
   position: relative;
   margin: 0 1px;
   font-style: normal;
}

div.rides-container2 .rides h4{
   color: #979494;
   margin-top: 15px;
   font-size: 11.6px;
   font-weight: bold;
}
div.rides-container2 .rides h5{
   font-size: 13px;
   margin: 20px 1rem 0 0; /* top, right, bottom, left */
   color: #a5afbd;
   text-transform: uppercase;
}
h5 > span{
   text-decoration: line-through;
}
section.travel-infor{
   display: none;
}
input[type="number"]{
   width: 145px;
   border-radius: 2px;
   border-bottom: solid 1.5px rgb(97, 96, 96);
   color: rgb(173, 172, 169);
   font-size: 13px !important;
   background: none;
   padding: 7px 1.7rem;
}
input[type="number"]::placeholder{
   color: rgb(173, 172, 169);
   font-size: 13px !important;
}
div.rides-container2 .rides button[type="submit"]{
   cursor: pointer;
   margin-top: 15px;
   padding: 12px 53px;
   border-radius: .25rem;
   background: orange;
   color: #eee;
}
div.rides-container2 .rides button[type="submit"]:hover{
   transform: none;
}
footer.page-footer{ /* page footer */
   position: relative;
   top: 16rem;
}





/* smaller screens */

@media screen and (max-width: 780px) {  
div.rides-container2 .rides{
   width: 99%;
}
}


@media screen and (max-width: 450px) {  
   button[type="search"]{
      left: 222%;
      bottom: 2.3rem;
   }
   .search-box{
      width: 80%;
   }
   input[type="text"]{
      width: 175%;
   }
   button[type="search"]{
      left: 155%;
   }
   }


@media screen and (max-width: 400px) {  
   .search-box{
      width: 55%;
   }
   input[type="search"]{
      left: 145%;
   }
   }



