body{
   height: 140%;
   overflow-x: scroll !important;
}
a{
   color: rgb(102, 180, 248);
}
pre{
   color: #cac7c7;
   font-size: 14px;
}
main.main_activities{
position: relative;
margin-top: 12rem;
justify-content: space-between;
padding: 10px 8.5%;
}
main.main_activities h4{
   font-weight: 700;
   font-size: 1.1rem;
   font-family: Arial, Helvetica, sans-serif;
}
:is(div.header){
   background: rgb(145, 145, 231);
   width: 150rem;
   height: 2rem;
   text-align: center;
   align-items: center;
   padding: 25px 5%;
   border-radius: .1rem;
   display: flex;
   justify-content: space-between;
   border-bottom: 1.1px solid #8d8b8b;
}
:is(div.header-2){
   width: 70rem !important;
}
div.header span{
   font-weight: 500;
   font-size: 18px;
}
div.rolls{
   background: #141414 !important;
}
div.rolls span{
   font-weight: 500;
   font-size: 15px;
   margin-right: -2rem !important;
}
